type=dhcp-client
hostname=${hostname}
dhcp-send-hostname=yes
dhcp-send-client-id=yes
dhcp-accept-server-hostname=yes
dhcp-accept-server-domain=yes
dns-primary=${dns_primary}
dns-secondary=${dns_secondary}
op-command-modes=${op_command_modes}
plugin-op-commands=${plugin_op_commands}
vm-series-auto-registration-pin-id=
vm-series-auto-registration-pin-value=
authcodes=
panorama-server=
panorama-server-2=
tplname=
dgname=
